@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <video id="video" class="card-img"></video>
                <button id="capture-btn">Capture Image</button>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <canvas id="canvas" class="card-img"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="rangeInput">Contrast</label>
                            <input type="range" class="form-range" id="contrastInput" min="1" max="100" value="0">
                            <label for="rangeInput">Invert</label>
                            <input type="range" class="form-range" id="invertInput" min="1" max="100" value="0">
                            <label for="rangeInput">Grayscale</label>
                            <input type="range" class="form-range" id="grayscaleInput" min="1" max="100" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #canvas{
        border-block:dashed;
        border-color:black;
        height:300px;
        width:600px; 
    }
</style>
@section scripts{


    <script>
        $(function () {
            var video = document.querySelector('#video');
            var canvas = document.querySelector('#canvas');
            var captureBtn = document.querySelector('#capture-btn');

            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (err) {
                    console.log(err);
                });

            captureBtn.addEventListener('click', function () {
                var context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                var imageDataURL = canvas.toDataURL('image/png');
                console.log(imageDataURL); // You can send this data to server
                var img = new Image();
                img.src = imageDataURL;
                img.onload = function () {
                    context.drawImage(img, 0, 0, canvas.width, canvas.height);
                }
            });
        });

        var contrastInput = document.getElementById('contrastInput');
        var invertInput = document.getElementById('invertInput');
        var grayscaleInput = document.getElementById('grayscaleInput');
        var targetDiv = document.querySelector('canvas');

        contrastInput.addEventListener('input', function () {
            var value = contrastInput.value;
            targetDiv.style.filter = "contrast(" + (value) + ")";
           
        });

        invertInput.addEventListener('input', function () {
            var value = invertInput.value;
            targetDiv.style.filter = "invert(" + (value) + ")";
           
        });
        grayscaleInput.addEventListener('input', function () {
            var value = grayscaleInput.value;
            targetDiv.style.filter = "grayscale(" + (value) + ")";
            
        });
    </script>
}